<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="User" type="com.chrhc.mybatis.autodate.domain.User" />
	</typeAliases>
	
	
	<plugins>
	
		<plugin interceptor="com.chrhc.mybatis.autodate.interceptor.CommonDataInterceptor">
		
			<property name="createDateColumn" value="create_date"/>
			<property name="updateDateColumn" value="update_date"/>
			
			<property name="versionColumn" value="version"/>
			
			<property name="createUserIdColumn" value="create_user_id"/>
			<property name="createUserIdField" value="createUserId"/>
			<property name="createByColumn" value="create_by"/>
			<property name="createByField" value="createBy"/>
			
			<property name="updateUserIdColumn" value="update_user_id"/>
			<property name="updateUserIdField" value="updateUserId"/>
			<property name="updateByColumn" value="update_by"/>
			<property name="updateByField" value="updateBy"/>
			
		</plugin>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/test?allowMultiQueries=true" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>
	
	
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>
	
</configuration>